.background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.background img{
  height: 100%;
}

.loadingPage{
  width: 100vw;
  height: calc(100vh - 8rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    
  opacity: 0;
  animation: show-menu-item 2s ease-in-out .5s forwards;
}

.loadingPage img{
  max-width: 55rem;
  
  z-index: 99;
}

.loadingPage .progress-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.loadingPage .progress-bar h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 2rem;
}

.bar{
  height: 10px !important;
  width: 40%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
  border-radius: 46px;
}
  
.BarraProgressoMobile {
  height: 10px !important;
  width: 80%;
  margin: 20px;
  margin-left: 10%;
}