
.pageContainer-stage-01, .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 3rem;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out .5s forwards;
  }
  
  .pageContainer-stage-01 .title h1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--dark-red);
  }
  
  .pageContainer-stage-01 .title p{
    width: 50rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: justify;
  }
  
  .pageContainer-stage-01 .button{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 30rem;
    height: 4.5rem;
  
    margin-top: 2rem;
  
    border-radius: 46px;
  
    background-color: var(--light-red);
    cursor: pointer;
  
    transition: .7s ease;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1s forwards;
  }
  
  .pageContainer-stage-01 .button:hover{
    width: 30.5rem;
    height: 4.7rem;
    background: var(--dark-red);
    
  }
  
  .pageContainer-stage-01 .button label{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
  
    color: var(--white);
  }
  
  .pageContainer-stage-01 .button:hover label{
    color: var(--light-white);
  }
  
  .pageContainer-stage-01 .button input{
    display: none;
  }
  
  .pageContainer-stage-02{
    display: flex;
    align-items: center;
    position: relative;
  
    width: 100vw;
    height: calc(100vh - 8rem);
  }
  
  .pageContainer-stage-02 .float-button-PDF-to-JPG{
    position: absolute;
    right: 35vw;
  }
  
  .drawer-PDFtoJPG{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  
    width: 0vw;
    height: calc(100vh - 8rem);
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background: var(--light-white);
    box-shadow:  -8px 4px 4px rgba(0, 0, 0, 0.25);
    animation: show-drawer-PDFtoJPG 1s ease-in-out 1s forwards;
  
  }
  
  .drawer-PDFtoJPG h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
  
    color: var(--dark-red);
  
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }
  
  .drawer-PDFtoJPG hr{
    height: 1px;
    width: 80%;
    background-color: var(--light-black-low-opacity);
    border: none;
    margin-top: 0;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }

  .drawer-PDFtoJPG .toggleGroup{
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 25vw;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }

  .drawer-PDFtoJPG .toggleButton{
      display: flex;
      justify-content: space-between;
  }

  .drawer-PDFtoJPG .toggleButton .icons{
      width: 4rem;
      height: 4rem;

      margin: 1rem;
  }

  .drawer-PDFtoJPG h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }

  .drawer-PDFtoJPG p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left ;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  
  }
  
  
  .drawer-PDFtoJPG .button{
    position: absolute;
    bottom: 1rem;
  
    width: 80%;
    height: 5rem;
    border-radius: 46px;
  
    background: var(--light-red);
  
    transition: 1.5s;
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }
  
  .drawer-PDFtoJPG .button > h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--light-white);
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }
  
  .drawer-PDFtoJPG .button:hover{
    transform: scale(1.03);
    background: var(--dark-red);
  }
  
  .CircularProgress{
    margin-top: 100px;
    margin-left: 50%;
    color: var(--dark-red) !important;
  }

  .drawer-PDFtoJPG .buttonInativate{
    position: absolute;
    bottom: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 80%;
    height: 5rem;
    border-radius: 46px;
  
    cursor: not-allowed;
    background: var(--light-black-low-opacity);
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }
  
  .drawer-PDFtoJPG .buttonInativate > h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white);
    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
  }

@keyframes show-menu-item{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}

@keyframes show-drawer-PDFtoJPG{
  from{
    width: 0;
  }
  to{
    width: 30vw;
  }
}