.errorPage{
    display: flex;
    width: 100vw;
    height: calc(100vh - 8rem);
}

.errorPage .main-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;

    z-index: 1;
}

.errorPage .main-text div{
    margin-top: 10rem;
    max-width: 30rem;
}

.errorPage .main-text div h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.6rem;

    text-align: justify;
    color: var(--light-white);

    opacity: 0;
    animation: show-menu-item 2s ease-in-out .5s forwards;
}

.errorPage .main-text h2{
    max-width: 30rem;

    margin-top: 10rem;

    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;

    color: var(--light-black);

    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1s forwards;
}

.errorPage .main-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
    
    z-index: 1;

    opacity: 0;
    animation: show-menu-item 2s ease-in-out 1.5s forwards;
}

.errorPage .main-image img{
    width: 60rem;
}


@keyframes show-menu-item{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}
